html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
}

html {
  height: 100%;
  
  font-family: "Roboto";
  color: rgba(0, 0, 0, 0.87);
  background-color: #eeeeee;
  font-size: 16px;
  line-height: calc(24em / 14);
}

paper-toolbar#header {
  background-color: #e41c1c;
}

paper-toolbar .paper-toolbar,
#mainContainer > * {
  max-width: 32em;
  margin-left: auto;
  margin-right: auto;
}

paper-header-panel main,
paper-header-panel footer {
  padding: 16px;
}

paper-input {
  text-align: left;
}

footer {
  margin-top: 10em;
}

#footer-links > * {
  float: left;
}
#footer-links > *:not(:first-child) {
  margin-left: 0.5em;
}
#footer-links > *:not(:first-child)::before {
  content: "|";
  margin-right: 0.5em;
}
